@using StatistinesAtaskaitos.Security

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ŽŪIKVC - @Html.MvcSiteMap().SiteMapTitle()</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.tooltip.css")" rel="stylesheet" />
    @RenderSection("Css", false)
</head>
<body>
    <div class="kaire-puse">
        <div class="logo-background">
            <div class="logo">
                <img src="@Url.Content("~/Content/img/logo.png")" alt="" />
            </div>

        </div>
        <div class="menu-wrapper content-box">
            <div class="menu">
                @Html.MvcSiteMap().Menu("Meniu", false)
            </div>
        </div>

    </div>

    <div class="desine-puse">
        <div class="top-bar">
            <div class="user-zone">
                @{
                    var user = HttpContext.Current.User as OsfiPrincipal;
                }
                @if (user != null)
                {
                    @Html.Partial("VartotojoMeniu", user.User)
                }
                else
                {
                    <a href="@Url.Action("Prisijungimas", "Vartotojai")" class="login-link">Prisijungti</a>
                }
            </div>
        </div>
        <div class="content-wrapper content content-box">
            <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
            @RenderBody()
            <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")"></script>
            @RenderSection("Scripts", false)
        </div>
    </div>

</body>
</html>

