@model StatistinesAtaskaitos.Models.PrisijungimoForma
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm())
{
    <table class="form-table">
        <tr>
            <th>@Html.LabelFor(x => x.VartotojoVardas)</th>
            <td>@Html.EditorFor(x => x.VartotojoVardas)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(x => x.Slaptazodis)</th>
            <td>@Html.EditorFor(x => x.Slaptazodis)</td>
        </tr>
        <tr>
            <th colspan="2">
                @Html.CheckBoxFor(x => x.Prisiminti)
                @Html.LabelFor(x => x.Prisiminti)
            </th>
        </tr>
    </table>

    @Html.HiddenFor(x => x.ReturnUrl)

    <input type="submit" value="Prisijungti" class="button" />
}

