@using StatistinesAtaskaitos.Models
@model StatistinesAtaskaitos.Models.AtaskaitaModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var formuPavadinimai = new Dictionary<FormuTipai, string>();
    formuPavadinimai[FormuTipai.Forma11] = "Ilgalaikis turtas [F1.1]";
    formuPavadinimai[FormuTipai.Forma12] = "Kapitalas [F1.2]";
    formuPavadinimai[FormuTipai.Forma2] = "Darbuotojai [F2]";
    formuPavadinimai[FormuTipai.Forma3] = "Sąnaudos [F3]";
    formuPavadinimai[FormuTipai.Forma41] = "Produktų pardavimas [F4.1]";
    formuPavadinimai[FormuTipai.Forma42] = "Dotacijos / subsidijos [F4.2]";
    formuPavadinimai[FormuTipai.Forma5] = "Augalininkystė [F5]";
    formuPavadinimai[FormuTipai.Forma6] = "Gyvulininkystė [F6]";
    formuPavadinimai[FormuTipai.Forma7] = "Produkcijos kaita [F7]";
    formuPavadinimai[FormuTipai.Forma8] = "Gyvulių skaičius [F8]";
    formuPavadinimai[FormuTipai.Forma9] = "Žemės plotai [F9]";
}

@if (Model.KlaiduSkaicius.Sum(x => x.Value) == 0)
{
    <p>Įkėlimas sėkmingas - klaidų nerasta.</p>
}
 else
{
   <p>Jūsų duomenys atmesti! Įkėlimas nesėkmingas. Surastos klaidos:</p> 
}

<ul class="formu-tipai">
    @foreach (var forma in Enum.GetValues(typeof(FormuTipai)).Cast<FormuTipai>())
    {
        var classes = "";
        if (Model.Parametrai.FormosTipas == forma)
        {
            classes += "active";
        }

        if (Model.KlaiduSkaicius[forma] > 0)
        {
            classes = (classes + " evil").Trim();
        }
        
        <li class="@classes">
            <a href="@Url.Action("LastUpload", "Ikelimas", new { formosTipas = forma })">
                @formuPavadinimai[forma] 
                @if (Model.KlaiduSkaicius[forma] > 0)
                {
                    <span class="error-count">(@Model.KlaiduSkaicius[forma])</span>
                }
            </a>
        </li>
    }
</ul>

@Html.DisplayFor(m => m.Rezultatai, Model.Parametrai.FormosTipas.ToString())

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.tooltip.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.ataskaita td.evil').tooltip({
                bodyHandler: function () {
                    var klaidos = $(this).attr('data-error-messages').split(';');

                    var output = '<ul>';

                    $.each(klaidos, function(index, klaida) {
                        output += '<li>';
                        output += klaida;
                        output += '</li>';
                    });

                    output += '</ul>';

                    return output;
                },
                showURL: false
            });
        });
    </script>
}