@model IEnumerable<StatistinesAtaskaitos.Models.Forma3>

    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Kodas</th>
            <th>Is Viso</th>
            <th>Augalininkyste</th>
            <th>Gyvulininkyste</th>
        </tr>
        @foreach(var imones3 in Model)
        {
            <tr>   
                <td>@imones3.Pavadinimas</td>
                <td>@imones3.Kodas</td>
                <td>@imones3.IsViso</td>
                <td>@imones3.Augalininkyste</td>
                <td>@imones3.Gyvulininkyste</td>
            </tr>       
        }
    </table> 