@using MvcContrib.UI.Grid
@model IEnumerable<StatistinesAtaskaitos.Models.Forma1>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <th>Produkcijos pavadinimas</th>
        <th>Produkcijos kodas</th>
        <th>Likutis Pradzioje Ilgalaikio</th>
        <th>Gauta</th>
        <th>Iš jų naujų</th>
        <th>VertesPadidejimas</th>
        <th>NurasytaIlgalaikio</th>
        <th>LikviduotaIlgalaikio</th>
        <th>ParduotaIlgalainio</th>
        <th>Nukainota</th>
        <th>LikutisPabaigojeIlgalaikio</th>
        <th>LikutisPradziojeNusidevejimo</th>
        <th>Priskaiciuota</th>
        <th>Pasikeitimas</th>
        <th>NurasytaNusidevejimo</th>
        <th>LikviduotaNusidevejimo</th>
        <th>LikutisPabaigojeNusidevejimo</th>
    </tr>
    @foreach(var imones in Model)
    {
        <tr>   
            <td>@imones.Pavadinimas</td>
            <td>@imones.Kodas</td>
            <td>@imones.LikutisPradziojeIlgalaikio.ToString("0.00")</td>
            <td>@imones.Gauta.ToString("0.00")</td>
            <td>@imones.IsJuNauju.ToString("0.00")</td>
            <td>@imones.VertesPadidejimas.ToString("0.00")</td>
            <td>@imones.NurasytaIlgalaikio.ToString("0.00")</td>
            <td>@imones.LikviduotaIlgalaikio.ToString("0.00")</td>
            <td>@imones.ParduotaIlgalaikio.ToString("0.00")</td>
            <td>@imones.Nukainota.ToString("0.00")</td>
            <td>@imones.LikutisPabaigojeIlgalaikio.ToString("0.00")</td>
            <td>@Html.DisplayFor(x => imones.LikutisPradziojeNusidevejimo)</td>
            <td>@Html.DisplayFor(x => imones.Priskaiciuota)</td>
            <td>@Html.DisplayFor(x => imones.Pasikeitimas)</td>
            <td>@Html.DisplayFor(x => imones.NurasytaNusidevejimo)</td>
            <td>@Html.DisplayFor(x => imones.LikviduotaNusidevejimo)</td>
            <td>@Html.DisplayFor(x => imones.LikutisPabaigojeNusidevejimo)</td>
        </tr>
    }
</table>
