@using MvcContrib.UI.Grid
@model IEnumerable<StatistinesAtaskaitos.Models.Forma41>
<table>
    <tr>
        <th rowspan="3">Produkcijos pavadinimas</th>
        <th rowspan="3">Kodas</th>
        <th colspan="3">Parduota iš viso, t</th>
        <th rowspan="3">Parduotos produkcijos savikaina, tūkst. Lt</th>
        <th rowspan="3">
        Pardavimų pajamos, tūkst. Lt/th>
    </tr>
    <tr>
        <th rowspan="2">natūra</th>
        <th>iš jų</th>
        <th rowspan="2">įskaitomuoju svoriu</th>
    </tr>
    <tr>
        <th>eksportui</th>
    </tr>

    <tr>
        <th>A</th>
        <th>B</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    @foreach (var imones41 in Model)
    {
        <tr>
            <th>@imones41.Pavadinimas</th>
            <th>@imones41.Kodas</th>

            <td class="@(imones41.Klaidos[1].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones41.Klaidos[1].Select(x => x.KlaidosPranesimas)))">@imones41.ParduotaNatura</td>
            <td class="@(imones41.Klaidos[2].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones41.Klaidos[2].Select(x => x.KlaidosPranesimas)))">@imones41.ParduotaEksportui</td>
            <td class="@(imones41.Klaidos[3].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones41.Klaidos[3].Select(x => x.KlaidosPranesimas)))">@imones41.ParduotaIskaitomuojuSvoriu</td>
            <td class="@(imones41.Klaidos[4].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones41.Klaidos[4].Select(x => x.KlaidosPranesimas)))">@imones41.ProdukcijosSavikaina</td>
            <td class="@(imones41.Klaidos[5].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones41.Klaidos[5].Select(x => x.KlaidosPranesimas)))">@imones41.PardavimuPajamos</td>
        </tr>       
    }
</table>


