@using MvcContrib.UI.Grid
@model StatistinesAtaskaitos.Models.Forma42IrFormuPildymoLaikas
<table class="ataskaita">
    <tr>
        <th>Straipsnių pavadinimas</th>
        <th>Kodas</th>
        <th>Suma, tūkst. Lt</th>
    </tr>
    <tr>
        <th>A</th>
        <th>B</th>
        <th>1</th>
    </tr>
    @foreach (var imones42 in Model.Forma42)
    {
        <tr>
            <th>@imones42.Pavadinimas</th>
            <th>@imones42.Kodas</th>
            <td class="@(imones42.Klaidos[1].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones42.Klaidos[1].Select(x => x.KlaidosPranesimas)))">@Html.DisplayFor(x => imones42.Suma)</td>

        </tr>       
    }
</table>
<br />
<table class="ataskaita">
    <tr>
        <!--GOOBY HALB ME-->
        <th>Formos pildymo laikas :</th>
        <td class="@(Model.FormosPildymoLaikas.Klaidos[1].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", Model.FormosPildymoLaikas.Klaidos[1].Select(x => x.KlaidosPranesimas)))">@Model.FormosPildymoLaikas.Valandos</td>
        <th>valandos</th>
        <td class="@(Model.FormosPildymoLaikas.Klaidos[2].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", Model.FormosPildymoLaikas.Klaidos[2].Select(x => x.KlaidosPranesimas)))">@Model.FormosPildymoLaikas.Minutes</td>
        <th>minutės</th>
    </tr>

</table>
