@using MvcContrib.UI.Grid
@model IEnumerable<StatistinesAtaskaitos.Models.Forma6>
<table class="ataskaita">
    <tr>
        <th rowspan="3">Produkcijos pavadinimas</th>
        <th rowspan="3">Kodas</th>
        <th rowspan="3">Vidutinis metinis gyvulių skaičius</th>
        <th rowspan="3">Produkcijos kiekis t</th>
        <th colspan="7">Išlaidos, tūkst. Lt</th>
        <th rowspan="3">Produkcijos vieneto savikaina, Lt</th>
    </tr>
    <tr>
        <th rowspan="2">darbo apmokėjimas su atsiskaitymais valstyb. soc. ir sveikatos dramdimui</th>
        <th rowspan="2">pašarai</th>
        <th rowspan="2">naftos produktai ir dujos</th>
        <th rowspan="2">elektros energija</th>
        <th rowspan="2">kitos išlaidos</th>
        <th rowspan="2">iš viso išlaidų</th>
        <th>iš jų</th>
    </tr>
    <tr>
        <th>išlaidos pagrindinei produkcijai</th>
    </tr>
    <tr>
        <th>A</th>
        <th>B</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
    </tr>
    @foreach (var imones6 in Model)
    {
        <tr>
            <th>@imones6.Pavadinimas</th>
            <th>@imones6.Kodas</th>
            <td class="@(imones6.Klaidos[1].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[1].Select(x => x.KlaidosPranesimas)))">@imones6.VidutinisGyvuliuSk.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[2].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[2].Select(x => x.KlaidosPranesimas)))">@imones6.ProdukcijosKiekis.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[3].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[3].Select(x => x.KlaidosPranesimas)))">@imones6.IslaidosDarboApmokejimas.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[4].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[4].Select(x => x.KlaidosPranesimas)))">@imones6.IslaidosPasarai.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[5].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[5].Select(x => x.KlaidosPranesimas)))">@imones6.IslaidosNafta.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[6].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[6].Select(x => x.KlaidosPranesimas)))">@imones6.IslaidosElektra.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[7].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[7].Select(x => x.KlaidosPranesimas)))">@imones6.IslaidosKitos.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[8].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[8].Select(x => x.KlaidosPranesimas)))">@imones6.IslaidosVisos.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[9].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[9].Select(x => x.KlaidosPranesimas)))">@imones6.IslaidosPagrindinei.ToString("0.00")</td>
            <td class="@(imones6.Klaidos[10].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones6.Klaidos[10].Select(x => x.KlaidosPranesimas)))">@imones6.ProdukcijosSavikaina.ToString("0.00")</td>


        </tr>       
    }
</table>
