@using MvcContrib.UI.Grid
@model IEnumerable<StatistinesAtaskaitos.Models.Forma8>
<table class="ataskaita">
    <tr>
        <th rowspan="2">Gyvulių grupės</th>
        <th rowspan="2">Kodas</th>
        <th rowspan="2">Metų pradžioje, vnt.</th>
        <th colspan="2">Metų pabaigoje</th>
    </tr>
    <tr>
        <th>vnt.</th>
        <th>vertė, tūkst. Lt</th>
    </tr>
    <tr>
        <th>A</th>
        <th>B</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
    </tr>
    @foreach (var imones8 in Model)
    {
        <tr>
            <th>@imones8.Pavadinimas</th>
            <th>@imones8.Kodas</th>
            <td class="@(imones8.Klaidos[1].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones8.Klaidos[1].Select(x => x.KlaidosPranesimas)))">@imones8.MetuPradzioje.ToString("0.00")</td>
            <td class="@(imones8.Klaidos[2].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones8.Klaidos[2].Select(x => x.KlaidosPranesimas)))">@imones8.MetuPabaigojeVnt.ToString("0.00")</td>
            <td class="@(imones8.Klaidos[3].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones8.Klaidos[3].Select(x => x.KlaidosPranesimas)))">@imones8.MetuPabaigojeVerte.ToString("0.00")</td>



        </tr>       
    }
</table>
