@using MvcContrib.UI.Grid
@model IEnumerable<StatistinesAtaskaitos.Models.Forma1>

<table class="ataskaita">
    <tr>
        <th rowspan="3">Turto grupė ir rūšys</th>
        <th rowspan="3">Kodas</th>
        <th colspan="9">Ilgalaikis turtas (pradinė vertė), tūkst.Lt</th>
        <th colspan="6">Nusidėvėjimas (amortizacija), tūkst. Lt</th>
    </tr>
    <tr>
        <th rowspan="2">likutis metų pradžioje</th>
        <th rowspan="2">gauta</th>
        <th>iš jų</th>
        <th rowspan="2">vertės padidėjimas dėl perkainojimo</th>
        <th rowspan="2">nurašyta</th>
        <th colspan="2">iš jų</th>
        <th rowspan="2">nukainota</th>
        <th rowspan="2">likutis metų pabaigoje (1+2+4-5-8)</th>
        <th rowspan="2">likutis metų pradžioje</th>
        <th rowspan="2">priskaičiuota</th>
        <th rowspan="2">pasikeitimas dėl perkainojimo</th>
        <th rowspan="2">nurašyta</th>
        <th>iš jų</th>
        <th rowspan="2">likutis metų pabaigoje (10+11+12-13)</th>
    </tr>
    <tr>
        <th>naujų</th>
        <th>likviduota</th>
        <th>parduota</th>
        <th>likviduota</th>
    </tr>
    <tr>
        <th>A</th>
        <th>B</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
    </tr>

    @foreach (var imones in Model)
    {
        <tr>
            <th>@imones.Pavadinimas</th>
            <th>@imones.Kodas</th>
            <td class="@(imones.Klaidos[1].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[1].Select(x => x.KlaidosPranesimas)))">@imones.LikutisPradziojeIlgalaikio.ToString("0.00")</td>
            <td class="@(imones.Klaidos[2].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[2].Select(x => x.KlaidosPranesimas)))">@imones.Gauta.ToString("0.00")</td>
            <td class="@(imones.Klaidos[3].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[3].Select(x => x.KlaidosPranesimas)))">@imones.IsJuNauju.ToString("0.00")</td>
            <td class="@(imones.Klaidos[4].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[4].Select(x => x.KlaidosPranesimas)))">@imones.VertesPadidejimas.ToString("0.00")</td>
            <td class="@(imones.Klaidos[5].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[5].Select(x => x.KlaidosPranesimas)))">@imones.NurasytaIlgalaikio.ToString("0.00")</td>
            <td class="@(imones.Klaidos[6].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[6].Select(x => x.KlaidosPranesimas)))">@imones.LikviduotaIlgalaikio.ToString("0.00")</td>
            <td class="@(imones.Klaidos[7].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[7].Select(x => x.KlaidosPranesimas)))">@imones.ParduotaIlgalaikio.ToString("0.00")</td>
            <td class="@(imones.Klaidos[8].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[8].Select(x => x.KlaidosPranesimas)))">@imones.Nukainota.ToString("0.00")</td>
            <td class="@(imones.Klaidos[9].Any() ? "evil" : "")"  data-error-messages="@(string.Join(";", imones.Klaidos[9].Select(x => x.KlaidosPranesimas)))">@imones.LikutisPabaigojeIlgalaikio.ToString("0.00")</td>
            <td class="@(imones.Klaidos[10].Any() ? "evil" : "")" data-error-messages="@(string.Join(";", imones.Klaidos[10].Select(x => x.KlaidosPranesimas)))">@Html.DisplayFor(x => imones.LikutisPradziojeNusidevejimo)</td>
            <td class="@(imones.Klaidos[11].Any() ? "evil" : "")" data-error-messages="@(string.Join(";", imones.Klaidos[11].Select(x => x.KlaidosPranesimas)))">@Html.DisplayFor(x => imones.Priskaiciuota)</td>
            <td class="@(imones.Klaidos[12].Any() ? "evil" : "")" data-error-messages="@(string.Join(";", imones.Klaidos[12].Select(x => x.KlaidosPranesimas)))">@Html.DisplayFor(x => imones.Pasikeitimas)</td>
            <td class="@(imones.Klaidos[13].Any() ? "evil" : "")" data-error-messages="@(string.Join(";", imones.Klaidos[13].Select(x => x.KlaidosPranesimas)))">@Html.DisplayFor(x => imones.NurasytaNusidevejimo)</td>
            <td class="@(imones.Klaidos[14].Any() ? "evil" : "")" data-error-messages="@(string.Join(";", imones.Klaidos[14].Select(x => x.KlaidosPranesimas)))">@Html.DisplayFor(x => imones.LikviduotaNusidevejimo)</td>
            <td class="@(imones.Klaidos[15].Any() ? "evil" : "")" data-error-messages="@(string.Join(";", imones.Klaidos[15].Select(x => x.KlaidosPranesimas)))">@Html.DisplayFor(x => imones.LikutisPabaigojeNusidevejimo)</td>
        </tr>
    }
</table>
