@using MvcContrib.UI.Grid
@model IEnumerable<StatistinesAtaskaitos.Models.Forma5>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Kodas</th>
            <th>Plotas, ha</th>
            <th>Produkcijos Kiekis</th>
            <th>Derlingumas</th>
            <th>Darbo apmokėjimas</th>
            <th>Seklai</th>
            <th>Trasoms</th>
            <th>Naftai</th>
            <th>Elektrai</th>
            <th>Kitos Islaidos</th>
            <th>Visos Islaidos</th>
            <th>Islaidos Pagrindinei Produkcijai</th>
            <th>Produkcijos savikaina</th>
        </tr>
        @foreach(var imones5 in Model)
        {
            <tr>   
                <td>@imones5.Pavadinimas</td>
                <td>@imones5.Kodas</td>
                <td>@Html.DisplayFor(x => imones5.Plotas)</td>
                <td>@Html.DisplayFor(x => imones5.ProdukcijosKiekis)</td>
                <td>@Html.DisplayFor(x => imones5.Derlingumas)</td>
                <td>@Html.DisplayFor(x => imones5.IslaidosDarboApmokejimas)</td>
                <td>@Html.DisplayFor(x => imones5.IslaidosSeklos)</td>
                <td>@Html.DisplayFor(x => imones5.IslaidosTrasos)</td>
                <td>@Html.DisplayFor(x => imones5.IslaidosNafta)</td>
                <td>@Html.DisplayFor(x => imones5.IslaidosElektra)</td>
                <td>@Html.DisplayFor(x => imones5.IslaidosKitos)</td>
                <td>@Html.DisplayFor(x => imones5.IslaidosVisos)</td>
                <td>@Html.DisplayFor(x => imones5.IslaidosPagrindinei)</td>
                <td>@Html.DisplayFor(x => imones5.ProdukcijosSavikaina)</td>


            </tr>       
        }
    </table>
